@font-face { 

	font-family: 'Interstellar'; 
	src: url(“../fonts/Interstellar-Regular.otf”); 
	src: url("../fonts/Interstellar-Regular.otf") format("tff"), url("../fonts/Interstellar-Regular.otf") format("truetype");

} 

body {

	margin: 0;
 	padding: 0;
 	background-image: url('../images/spacebackground.jpg');

	

}


h1 {

	text-align: center;
	font-size: 32pt;
	font-family: 'Interstellar', sans-serif;
	padding: 5%;
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	letter-spacing: 5px;

	

}

#space {

	text-align: center;
}


#search {

	text-align: center;
}


#resultsWrapper {

	text-align: center;
}